* {    /*Estilos por defecto   Para todos los elementos de la pagina  */
    box-sizing: border-box;
    margin: 0;
    padding: 0; /*Espaciados hacia dentro*/
}

body {
       /*Color de fondo*/
    color: rgb(255, 255, 255); /* color de texto */
    /* Patron del body*/
    
    font-size: 115%;
    
    
    font-family: 'Roboto', sans-serif;    /*Indica el tipo de fuente*/
    background-color: #333233;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%237aea0a' fill-opacity='0.03' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");

}

a {
    color: rgb(255, 255, 255);  /*Color de las etiquetas a*/
    text-decoration: none;   /*Para que las etiquetas no tengan subrrallado*/
    
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*Navegacion*/

.nav-main {
    font-size: 17px; /*Tamaño de fuente de toda la navegaciio*/
    display: flex;   /*Organiza elementos*/
    justify-content: space-between;         /*Utilizar todo el ancho disponible*/
    align-items: center;
    height: 60px;
    padding: 20px 0;   /*20 arriba y abajo y 0 a los lados*/
}

.barra-nav{    /*barra horizontal navegación*/
    border: 2px solid #0b7bea;
}

.nav-brand {
    width:  50px;  /*Tamaño del logo*/
}

/* NAV IZQUIERDA */

.nav-main ul {     
    display: flex;   
}

.nav-main ul li {
    padding: 10px;   /* Separación entre elementos de la navegacion */
}

.nav-main ul li a {
    padding: 2px;   
}

.nav-main ul li a {   
    padding: 2px;    /*Espaciado entre las etiquetas de la nav y la barra que aparece debajo*/
}

.nav-main ul li a:hover {        
    border-bottom:  2px solid #fff;    /*Borde hacia abajo    2px de grosor  y color*/
}

.nav-main ul.nav-menu {
    flex: 1;   
    margin-left: 20px;    /*Separacion entre el logo y los elementos de la navegacion*/

}

/* Botón barra de navegación*/

.menu-btn {
    position: absolute;   
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;      /*Cuando estamos a mas de 700px desapareza */
}

/* SHOWCASE */

hr {
    margin: 10px 0;  /*Separacion del showcase con la barra inferior de la nav*/
}

.showcase {
    width: 100%; 
    height: auto;
    
    margin-bottom: 20px;  /*Separación entre el showcase y las news cards*/
    
}
.grid{
    display: grid;    
    grid-template-columns: 4fr 8fr 0.5fr 4fr 8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-inline: auto; 
    grid-row-gap: 2%;
    grid-column-gap: 2%;
    padding: 4% 0%;
    
}
.titulo1{
    grid-row-start: 1;
    grid-column: 1/3;
    text-align: center;
    padding-top: 4%;
    z-index: 2;
    
    
}
.imagen1{
    grid-row: 2/3;
    grid-column-start: 1;
    height: 60px;
    margin: 0% auto; 
    align-self: center;
    z-index: 2;
}

.texto1{
    grid-row: 2/5;
    grid-column-start: 2;   
    z-index: 2;
    margin-bottom: 5%;
}
.titulo2{
    grid-row-start: 1;
    grid-column: 4/6;
    text-align: center;
    padding-top: 4%;
    z-index: 2;
}
.imagen2_1{
    grid-row-start: 3;
    grid-column-start: 4; 
    align-self: center;
    height: 60px;
    margin: 0% auto; 
    z-index: 2;
}

.imagen2_2{
    grid-row-start: 4;
    grid-column-start: 4;
    align-self: center;
    height: 60px;
    margin: 0% auto; 
    z-index: 2;
   
}

.texto2_1{
    grid-row-start: 2;
    grid-column: 5/6;  
    z-index: 2; 
    text-align: left;
}
.texto2_2{
    grid-row: 3/5;
    grid-column-start: 5;   
    align-self: center;
    z-index: 2;
    text-align: left;
}

.titulo3{
    grid-row-start: 6;
    grid-column: 1/3;
    text-align: center;
    padding-top: 4%;
    z-index: 2;
}
.imagen3{
    grid-row-start: 7;
    grid-column-start: 1;
    height: 60px;
    margin: 0% auto; 
    z-index: 2;
}

.texto3{
    grid-row-start: 7;
    grid-column-start: 2;   
    margin: auto 0%;
    z-index: 2;
}
.enlace3{
    grid-row-start: 8;
    grid-column: 2;
    z-index: 2;
}
.titulo4{
    grid-row-start: 7;
    grid-column: 4/6;
    text-align: center;
    padding-top: 4%;
    z-index: 2;
}
.imagen4{
    grid-row-start: 8;
    grid-column-start: 4;
    align-self: center;
    height: 60px;
    margin: 0% auto; 
    z-index: 2;
}
.texto4{
    grid-row-start: 8;
    grid-column-start: 5;  
    margin: auto 0%;
    z-index: 2;
}
.titulo5{
    grid-row-start: 10;
    grid-column: 1/3;
    text-align: center;
    padding-top: 4%;
    z-index: 2;
}
.imagen5_1{
    grid-row-start: 11;
    grid-column-start: 1;
    align-self: center;
    height: 60px;
    margin: 0% auto; 
    z-index: 2;
}
.imagen5_2{
    grid-row-start: 12;
    grid-column-start: 1;
    align-self: center;
    height: 60px;
    margin: 0% auto; 
    z-index: 2;
}
.texto5_1{
    grid-row-start: 11;
    grid-column-start: 2;  
    margin: auto 0%;
    z-index: 2;
}
.texto5_2{
    grid-row-start: 12;
    grid-column-start: 2;  
    margin: auto 0%;
    z-index: 2;
}
.fondo-blanco1{
    z-index: 1;
    background-color: #f2f2f2;
    grid-row: 1/5;
    grid-column: 1/3;
}
.fondo-blanco2{
    z-index: 1;
    background-color: #f2f2f2;
    grid-row: 1/6;
    grid-column: 4/6;
    
}
.fondo-blanco3{
    z-index: 1;
    background-color: #f2f2f2;
    grid-row: 6/9;
    grid-column: 1/3;
}
.fondo-blanco4{
    z-index: 1;
    background-color: #f2f2f2;
    grid-row: 7/10;
    grid-column: 4/6;
}

.fondo-blanco5{
    z-index: 1;
    background-color: #f2f2f2;
    grid-row: 10/15;
    grid-column: 1/3;
}

.btm {
    cursor: pointer; /*camia el cursor al pasar por encima*/
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px; /*10 arriba y abajo  20 a los lados*/
    background: #262626;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 1px solid #ffff;
    align-self: auto;
    
    
    
}

.btm:hover {
    opacity: .7; /*Al pasar el cursor se oscurece*/
}
.showcase h1,.showcase h2,.showcase h3{
    color: #073869;
}

.showcase p {
    margin-bottom: 10px;    /*Separación entre cabecera, parreafo y boton de showcase*/
    color: rgb(0, 0, 0);
}

.showcase title{
    margin-top: auto;
    width: 100%;
    height: 20px;
    background-color: rebeccapurple;
}

/*NEWS CARDS*/
.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /*Nos permite crear columnas*/ /*De esta forma le indicamos que lo separamos en 4 columnas*/
    gap: 20px;   /*Separacion entre news cards*/
    margin: 10px 0; /*Margen arriba y abajo*/
}

.news-cards img {
    width: 100%;
    height: 180px;

}

.news-cards h3 {     /*El título de las news cards*/
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {   /*Los enlaces de las newscards*/
    padding: 10px 0;
    color: #f2f2f2f2;
    text-transform: uppercase;  /*Mayuscula*/
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {    /*Al pasar el cursor que se subraye*/
    text-decoration: underline;
}

/* Cards banner one */

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(img/tech-red.jpg) no-repeat center center/cover;
    margin-bottom:40px;

}

.cards-banner-one .content{   /*El texto del banner*/
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.cards-banner-one p,     /*Para el titulo y el parrafo*/
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
}

/*Cards banner two*/

.cards-banner-two{
    background: url(img/image-five.jpg) no-repeat center center/cover;
    width: 100%;
    height: 350px;
}
.cards-banner-two .content{   
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

/*Social*/
.social{
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;   /*Tamaño del link y de la imagen*/
}


.pie-pagina-texto{  /*Texto pie de página*/
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 2000px){
    .showcase{
        
        padding: 0% 0%;
    }
}

@media (max-width: 1150px){
    .showcase{
        
        padding: 0% 0%;
    }
}
@media (max-width: 1000px){
    .showcase{
        
        padding: 0% 0%;
    }
}
@media (max-width: 900px){
    .showcase{
        height: auto;

    }
}
@media (max-width: 800px){
    .showcase{
        height: auto;
        padding: 0% 0%;
    }
}
/*Adaptación a dispositivos móviles*/


@media (max-width: 700px){      /*Cuando el ancho de la pantalla sea inferior a 700px*/
   
    .menu-btn{
        display: block;         /*a menos de 700px el botón aparezca*/
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;   /*Se posiciona encima de todo*/
        z-index: 3;
        top: 0;   /*Para que esté en la esquina*/
        left: 0;  /*Se posicione a la izquierda*/
        background: #2f3640;
        height: 100%;   
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);   /*Mover -400px en el eje de las X*/   /*Esconder la barra de navegación mientras el btn no se haya pulsado*/
        padding: 30px;   
        opacity: .9;
        transition: transform .5s ease;
    }

    .nav-main ul.nav-menu.despliegue {       /*Al tenr la barra de nav la clase despliegue cambiará su posición a una parte visible*/
        transform: translateX(-20px);     
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right{
        margin-right:40px;   /*Espaciado entre el btn de busqueda y el de la barra de navegación para que no se solapen*/
    }
   
    .grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        padding-inline: 0%;  

        justify-content: space-between;
        
        grid-column-gap: 2%;  
        grid-row-gap: 2%;
         
        
    }

    .showcase {
        height: auto;
        padding: 5% 0%;
    }
    .titulo1{
        grid-row-start: 1;
        grid-column: 1/3;
    }
    .imagen1{
        grid-row-start: 2;
        grid-column-start: 1;
        height: 60px;
    }
    
    .texto1{
        grid-row-start: 2;
        grid-column-start: 2;   
        padding-bottom: 10%;
    }
    .titulo2{
        grid-row-start: 6;
        grid-column: 1/3;

    }
    .imagen2_1{
        grid-row-start: 8;
        grid-column-start: 1; 
        
    }
    
    .imagen2_2{
        grid-row-start: 9;
        grid-column-start: 1;
        align-self: center;
        height: 60px;
        margin: 0% 50%; 
        z-index: 2;
       
    }
    
    .texto2_1{
        grid-row-start: 7;
        grid-column: 1/3;  
        z-index: 2; 
        text-align: center;
    }
    .texto2_2{
        grid-row-start: 8;
        grid-column-start: 2;   
        align-self: center;
        z-index: 2;
        text-align: left;
    }
    .texto2_3{
        grid-row-start: 9;
        grid-column-start: 2;  
        align-self: center;
        z-index: 2;
        text-align: left;
    }
    .titulo3{
        grid-row-start: 11;
        grid-column: 1/3;
        text-align: center;
        padding-top: 4%;
        z-index: 2;
    }
    .imagen3{
        grid-row-start: 12;
        grid-column-start: 1;
        height: 60px;
        margin: 0% auto; 
        z-index: 2;
    }
    
    .texto3{
        grid-row-start: 12;
        grid-column-start: 2;   
        margin: auto 0%;
        z-index: 2;
    }
    .titulo4{
        grid-row-start: 15;
        grid-column: 1/3;
        text-align: center;
        padding-top: 4%;
        z-index: 2;
    }
    .imagen4{
        grid-row-start: 16;
        grid-column-start: 1;
        height: 60px;
        margin: 0% auto; 
        z-index: 2;
    }
    .texto4{
        grid-row-start: 16;
        grid-column-start: 2;   
        margin: auto 0%;
        z-index: 2;
    }
    .fondo-blanco1{
        z-index: 1;
        background-color: #f2f2f2;
        grid-row: 1/6;
        grid-column: 1/3;
    }
    .fondo-blanco2{
        z-index: 1;
        background-color: #f2f2f2;
        grid-row: 6/11;
        grid-column: 1/3;
    }
    .fondo-blanco3{
        z-index: 1;
        background-color: #f2f2f2;
        grid-row: 11/14;
        grid-column: 1/3;
    }
    .fondo-blanco4{
        z-index: 1;
        background-color: #f2f2f2;
        grid-row: 15/18;
        grid-column: 1/3;
    }
}

@media (max-width: 500px){
    .showcase{
        height: auto;
        
        margin: 0% 0%;
    }
    hr {
        margin: 0% 0%;  /*Separacion del showcase con la barra inferior de la nav*/
    }
    
    
}
@media (max-width: 400px){
    .showcase{
        height: auto;
    }
}
@media (max-width: 350px){
    .showcase{
        height: auto;
    }
    .texto2_2{
        margin: 0% 20%;
    }
    .texto2_3{
        margin: 0% 20%;
}

@media (max-width: 300px){
    .showcase{
        height: auto;
    }
}
@media (max-width: 260px){
    .showcase{
        height: auto;
    }
}
}